<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="60"> <!-- Refresh every 60 seconds -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yellostone Lodging Availability Tracker</title>
</head>
<body style="width: 100%; max-width: 1200px; margin: 0 auto;">
    <h1>Yellostone Lodging Availability Tracker</h1>
    <p>Last Updated: {{ last_updated_time }}</p>
    <form action="/update" method="post">
        <button type="submit">Update Data</button>
    </form>

    <script>
        // Reload the page every 60 seconds 
        setInterval(function() {
            location.reload();
        }, 60000); 
    </script>
</body>
</html>